extends layout

block content
    include ./component/resultSearch
    div(class='newShareDiv')
        table(class="ui celled table" id='newShareList')
            thead
                tr
                    th(class='ten wide') 最新更新
                    //th(class='two wide center aligned') 分享人
                    th(class='two wide center aligned')  类型
                    th(class='two wide center aligned')  大小
            tbody
                each result in results
                    tr
                        td
                            - var title = result.title;
                            a(class='text' href=`/result/?view=${result.ID}&kw=${result.title}` target='_blank')
                                !=  title
                        //td(class='center aligned') #{result.username}
                        td(class='center aligned') #{result.category}
                        td(class='center aligned') #{result.size}
            tfoot
                tr
                    th(colspan="3")
                        div(class="ui floated pagination menu" id='menu-pages')
                            a(class="icon item" data-value='1' href=`/latestMenu/?p=1`)
                                span 1
                            a(class="icon item" data-value='2' href=`/latestMenu/?p=2`)
                                span 2
                            a(class="icon item" data-value='3' href=`/latestMenu/?p=3`)
                                span 3
                            a(class="icon item" data-value='4' href=`/latestMenu/?p=4`)
                                span 4
                            a(class="icon item" data-value='5' href=`/latestMenu/?p=5`)
                                span 5
                            a(class="icon item" data-value='6' href=`/latestMenu/?p=6`)
                                span 6
                            a(class="icon item" data-value='7' href=`/latestMenu/?p=7`)
                                span 7
                            a(class="icon item" data-value='8' href=`/latestMenu/?p=8`)
                                span 8
                            a(class="icon item" data-value='9' href=`/latestMenu/?p=9`)
                                span 9
                            a(class="icon item" data-value='10' href=`/latestMenu/?p=10`)
                                span 10
                            a(class="icon item" data-value='11' href=`/latestMenu/?p=11`)
                                span 11
                            a(class="icon item" data-value='12' href=`/latestMenu/?p=12`)
                                span 12
                            a(class="icon item" data-value='13' href=`/latestMenu/?p=13`)
                                span 13
                            a(class="icon item" data-value='14' href=`/latestMenu/?p=14`)
                                span 14
                            a(class="icon item" data-value='15' href=`/latestMenu/?p=15`)
                                span 15
                            a(class="icon item" data-value='16' href=`/latestMenu/?p=16`)
                                span 16
                            a(class="icon item" data-value='17' href=`/latestMenu/?p=17`)
                                span 17
                            a(class="icon item" data-value='18' href=`/latestMenu/?p=18`)
                                span 18
    script(src='/js/ad1.js')
    div(class='dividerPages')