div(class='filterDiv')
    table(class='ui celled table' id='hotTable')
        thead
            tr
                th(class='ten wide' colspan=5)
                    span(id='filterList') 热门推荐
        tbody
            tr
                td
                    a(class='hotList topThree' href = `/?search=${hots[0][0].title}` target='_blank')  #{hots[0][0].title}
                td
                    a(class='hotList topThree' href = `/?search=${hots[0][1].title}` target='_blank')  #{hots[0][1].title}
                td
                    a(class='hotList topThree' href = `/?search=${hots[0][2].title}` target='_blank')  #{hots[0][2].title}
                td
                    a(class='hotList' href = `/?search=${hots[0][3].title}` target='_blank')  #{hots[0][3].title}
                td
                    a(class='hotList' href = `/?search=${hots[0][4].title}` target='_blank')  #{hots[0][4].title}
            tr
                td
                    a(class='hotList' href = `/?search=${hots[0][5].title}` target='_blank')  #{hots[0][5].title}
                td
                    a(class='hotList' href = `/?search=${hots[0][6].title}` target='_blank')  #{hots[0][6].title}
                td
                    a(class='hotList' href = `/?search=${hots[0][7].title}` target='_blank')  #{hots[0][7].title}
                td
                    a(class='hotList' href = `/?search=${hots[0][8].title}` target='_blank')  #{hots[0][8].title}
                td
                    a(class='hotList' href = `/?search=${hots[0][9].title}` target='_blank')  #{hots[0][9].title}
            tr
                td
                    a(class='hotList' href = `/?search=${hots[0][10].title}` target='_blank')  #{hots[0][10].title}
                td
                    a(class='hotList' href = `/?search=${hots[0][11].title}` target='_blank')  #{hots[0][11].title}
                td
                    a(class='hotList' href = `/?search=${hots[0][12].title}` target='_blank')  #{hots[0][12].title}
                td
                    a(class='hotList' href = `/?search=${hots[0][13].title}` target='_blank')  #{hots[0][13].title}
                td
                    a(class='hotList' href = `/?search=${hots[0][14].title}` target='_blank')  #{hots[0][14].title}
            tr
                td
                    a(class='hotList' href = `/?search=${hots[0][15].title}` target='_blank')  #{hots[0][15].title}
                td
                    a(class='hotList' href = `/?search=${hots[0][16].title}` target='_blank')  #{hots[0][16].title}
                td
                    a(class='hotList' href = `/?search=${hots[0][17].title}` target='_blank')  #{hots[0][17].title}
                td
                    a(class='hotList' href = `/?search=${hots[0][18].title}` target='_blank')  #{hots[0][18].title}
                td
                    a(class='hotList' href = `/?search=${hots[0][19].title}` target='_blank')  #{hots[0][19].title}
            tr
                td
                    a(class='hotList topThree' href = `/?search=${hots[0][20].title}` target='_blank')  #{hots[0][20].title}
                td
                    a(class='hotList topThree' href = `/?search=${hots[0][21].title}` target='_blank')  #{hots[0][21].title}
                td
                    a(class='hotList topThree' href = `/?search=${hots[0][22].title}` target='_blank')  #{hots[0][22].title}
                td
                    a(class='hotList' href = `/?search=${hots[0][23].title}` target='_blank')  #{hots[0][23].title}
                td
                    a(class='hotList' href = `/?search=${hots[0][24].title}` target='_blank')  #{hots[0][24].title}
            tr
                td
                    a(class='hotList' href = `/?search=${hots[0][25].title}` target='_blank')  #{hots[0][25].title}
                td
                    a(class='hotList' href = `/?search=${hots[0][26].title}` target='_blank')  #{hots[0][26].title}
                td
                    a(class='hotList' href = `/?search=${hots[0][27].title}` target='_blank')  #{hots[0][27].title}
                td
                    a(class='hotList' href = `/?search=${hots[0][28].title}` target='_blank')  #{hots[0][28].title}
                td
                    a(class='hotList' href = `/?search=${hots[0][29].title}` target='_blank')  #{hots[0][29].title}
            tr
                td
                    a(class='hotList' href = `/?search=${hots[0][30].title}` target='_blank')  #{hots[0][30].title}
                td
                    a(class='hotList' href = `/?search=${hots[0][31].title}` target='_blank')  #{hots[0][31].title}
                td
                    a(class='hotList' href = `/?search=${hots[0][32].title}` target='_blank')  #{hots[0][32].title}
                td
                    a(class='hotList' href = `/?search=${hots[0][33].title}` target='_blank')  #{hots[0][33].title}
                td
                    a(class='hotList' href = `/?search=${hots[0][34].title}` target='_blank')  #{hots[0][34].title}
            tr
                td
                    a(class='hotList' href = `/?search=${hots[0][35].title}` target='_blank')  #{hots[0][35].title}
                td
                    a(class='hotList' href = `/?search=${hots[0][36].title}` target='_blank')  #{hots[0][36].title}
                td
                    a(class='hotList' href = `/?search=${hots[0][37].title}` target='_blank')  #{hots[0][37].title}
                td
                    a(class='hotList' href = `/?search=${hots[0][38].title}` target='_blank')  #{hots[0][38].title}
                td
                    a(class='hotList' href = `/?search=${hots[0][39].title}` target='_blank')  #{hots[0][39].title}
