
div(class='search-value' style='display:none;' id='search-value') #{results.searchValue}
div(class='search-value' style='display:none;' id='pageNumber') 1

div(class='resultDiv')
    table(class="ui red striped table" id='resultList')
        thead
            tr
                th(class='ten wide') 文件名称
                th(class='two wide center aligned') 分享人
                th(class='two wide center aligned')  类型
                th(class='two wide center aligned')  大小
        tbody
            each result in results[0]
                tr
                    td
                        - var title = result.title;
                        a(class='text' href=`/result/?view=${result.ID}` target='_blank')
                            !=  title
                    td(class='center aligned') #{result.username}
                    td(class='center aligned') #{result.category}
                    td(class='center aligned') #{result.size}
        tfoot
            tr
                th(colspan="4")
                    include ./pages
    div(class='dividerPages')
